body{
    background: #eeeeee;
}
.header-custom{
    background: white;   
    .custom-row{
        display: grid;
        // flex-direction: row;
        .col1{
            width:10% 
        }
        .col2{
            width:20% ;
            .headerText{
                font-size: 10px
             }
        }
        
    }  
}
.cursor-disabled{
    cursor: not-allowed;
}
.cursor-pointer{
  cursor: pointer
}

.horizontal-line{
  border-left: 1px solid #0000004d;
  margin-top: 15px;
  margin-bottom: 15px;
}

.genderCss{
  margin-left: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  // border: 1px solid red;
  margin-top: 20px;
}
.f-14{
  font-size: 14px
}
.f-9{
  font-size: 9px;
}
.f-10{
  font-size: 10px
}
.m-b-0{
margin-bottom: 0px
}
.m-t-0{
  margin-top: 0px
  }
.widthCss{
  width:34px;
}
.alignGenderProps{
  display: flex;
  margin-top: 20px;
  margin-left: -40px;
}

// @media only screen and (max-width: 768px) {  
//     .customContainer{
//         // margin-left: 44px;
//         // margin-top: 65px;
//         // display: grid;
//         // border: 1px solid black;
//         // width: 200px;
//         // height: 40px;    
//         margin-left: 2px;
//         margin-top: 65px;
//         margin-right: 2px;
//         display: grid;
//         border: 1px solid black;
//         height: 400px;     
//     }
// }

@media only screen and (min-width: 1024px) {  
  .customContainer{ 
    // display: flex;
    // flex-direction: row;
    // padding: 0 80px;   
    height: 400px; 
  }
  .middleDiv{
    border: 1px solid black;
    margin-left: 100px;
    margin-right: 100px;
    height: 400px;
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-flex-direction: row; */
    flex-direction: row;
  }
}

.filtersContainer{
    height: 75px;
    display: flex;
    flex-direction: row;
    .textCss{
      font-size: 24px;
      font-family: -webkit-body;
      margin-left: 98px;
      margin-top: 20px;
      color: #b52d2d;
    }
}
.slideContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;   
    .imageCss{
        margin-right: 5px;
        margin-bottom: 5px;
        height: 195px;
        background: white;
        margin-top: 0px;
        box-sizing: border-box;
        // position: relative;
    }
    .imageBackground{
        background-color: white;
    }
    .imageProps{
        margin-left: 17px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 25px;
        height: 140px;
    } 
}
.imageDetailsProps{
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 14px;
  // padding-bottom: -19px;
  margin-top: -15px;
}
.genderDimensions{
  width:20px;
  height:17px;
}
.womanIconDimensions{
  width: 30px;
  height: 17px;
}

.input-slider-css{
  margin-left: 20px;
  /* width: 200px; */
  height: 60px;
  border: 1px solid red;
}
.slider-width{
  width: 225px;
}
.font-input-range{
  font-size: 10px;
  margin-top: -5px;
}
.set-price{
  font-size: 11px;
  margin-bottom: 0px;
  margin-top: 3px;
  margin-left: 5px;
}

.zoom {
  // padding: 50px;
  // background-color: green;
  transition: transform .2s;
  //  height: 190px;
  // margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  // display: flex;
  z-index: 300px;
  margin-top: 44px;
  border:1px solid black;
}

.imageContainer{
    background: white;
    border: 1px solid white;
}
.m-l-5{
  margin-left: 5px;
}

$breakpoint-desktop: 992px;

// Fix for jumping arrows
.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 210px;
}

.carousel {
  margin-top: 15px;
  position: relative;
}

// Carousel slides
.carousel__slide {
  margin-right: auto;
  margin-left: auto;
  display: none;
  max-width: 900px;
  list-style-type: none;
  text-align: center;

  @media (max-width: 991px) {
    padding-right: 60px;
    padding-left: 60px;
  }

  &--active {
    display: block;
  }
}

// Content of slides
.carousel-slide__content {
  // margin-bottom: 19px;
  font-family: 'Open Sans', 'Trebuchet MS', sans-serif;
  font-size: 10px;

  @media (max-width: $breakpoint-desktop - 1px) {
    font-size: 18px;
  }
}

.carousel-slide__author,
.carousel-slide__source {
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;

  @media (min-width: $breakpoint-desktop) {
    font-size: 16px;
  }
}

.carousel-slide__source {
  font-style: italic;
  color: #888;
}

// Carousel arrows
.carousel__arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .5;
  }

  &--left {
    left: 32px;
  }

  &--right {
    right: 32px;
  }
}

// Carousel indicators
.carousel__indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;

//   li {
//     &:nth-of-type(n + 2) {
//       margin-left: 9px;
//     }
//   }
}

.carousel__indicator {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #111;
  cursor: pointer;
  opacity: .15;
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

  &:hover {
    opacity: .5;
  }

  &--active {
    &,
    &:hover {
      opacity: .75;
    }
  }
}
.dropdownCss{
  margin-left: 35px;
  margin-top: 20px;
  margin-right: 20px;
}
